
.text1{ 
  padding:3%;
}
.text2{
 padding: 2%;
 margin-bottom: 20px;
}
.img1{
  max-width: 100%;
  max-height: 100%;
  
}

.botton1{
background-color: rgb(219, 7, 7);
padding: 9px 22px;
color: white;
border: 2px solid transparent;
border-radius: 30px;
text-decoration: none;
transition: .4s;
margin-right: 40px;

}

.botton1:hover{
border: 2px solid red;
text-decoration: none;
background-color: transparent;
cursor: pointer;
box-shadow: 0 0 10px red;
color: black;
}

.botton2{
background-color: rgb(219, 7, 7);
padding: 9px 22px;
color: white;
border: 2px solid transparent;
border-radius: 30px;
text-decoration: none;
transition: .4s;
}

.botton2:hover{
border: 2px solid red;
text-decoration: none;
background-color: transparent;
cursor: pointer;
box-shadow: 0 0 10px red;
color: black;
}

.text-moderl{
  margin-left: 0;
  text-align: center;
  height: 400px;
}

.price{
  margin-bottom: 8%;
}
.stars{
  color: red;
}

.specifi{
  height: 100%;
  padding: 3%;
  
}
.specifi .specifi-container h3{
 color: red;
 margin-left: 5%;
 margin-bottom: 3%;
 background: rgb(0, 255, 0);
 width: 250px;
 height: 50px;
 text-align: center;
 clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.specifi .specifi-container p{
  font-size: 15px;
  letter-spacing:0;
}

.specifi .specifi-container span{
  font-weight: bold;
}


.footer{
  background:#05059a;
}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr) );
  gap: 1.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
  
  
}
.footer .box-container .box a{
  width: 100%;
  
}
.footer .box-container .box .links{
  display:inline-block;
  font-size: 20px;
  color: rgb(211, 13, 46);
  padding:10px 0;
  text-decoration: none;
  
}
.footer .box-container .box{
 margin-left: 3%;
}

.footer .box-container .box .links i{
  padding: 5px;
  color: rgb(74, 180, 88);
  font-size: 23px;

}
.footer .box-container .box .links:hover i{
  padding-right: 15px;
  transition: 0.3s;
 
}



@media (max-width:450px){
  .footer .box{
    margin-left: 5px;
    width: 70%;
    

}
  .footer .box-container .box .links{
    margin: 20px,  auto;
    width: 80%;
  }

}

